@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');

body{
    font-family: 'Scheherazade New', serif;
    background-color: lavender;
    text-align: center;
}
h1{
    color: rgb(85, 85, 221);
    font-size: 40px;

}
label{
    color: rgb(85, 85, 221);
    font-size: 40px;
    font-weight: 200;

}

p{
    font-size: 20px;
}
a{
    text-decoration: none;
}